/arch/
/icy/icy/os/x86_64/*
!/icy/icy/os/x86_64/sync.sh
!/icy/icy/os/x86_64/catppuccin-mocha-helix-git/
!/icy/icy/os/x86_64/catppuccin-mocha-lavender-cursors/
!/icy/icy/os/x86_64/catppuccin-mocha-lavender-papirus-folders-git/
!/icy/icy/os/x86_64/catppuccin-vscode/
!/icy/icy/os/x86_64/icy-helix-config/
!/icy/icy/os/x86_64/icy-sysrq-config/
!/icy/icy/os/x86_64/icy-tabby-config/
!/icy/icy/os/x86_64/icy-utils/
!/icy/icy/os/x86_64/icy-visual-studio-code-config/
