/*
!/.gitignore
!/PKGBUILD
!/catppuccin-mocha-lavender-papirus-icons-install
!/catppuccin-mocha-lavender-papirus-icons-install.hook
!/catppuccin-mocha-lavender-papirus-icons-remove
!/catppuccin-mocha-lavender-papirus-icons-remove.hook
!/catppuccin-mocha-lavender-papirus-icons-upgrade.hook
